.main-nav {
  background-color: var(--color-secondary);
  display: block;
}

.main-nav div div div:hover {
  background-color: var(--color-accent-primary);
}

h1 {
  margin: 0;
}

.skip-links li {
  padding: 0;
}
