header {
  background-color: var(--color-accent-primary);
}

h1 {
  margin: 0;
}

.hero {
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent) no-repeat center bottom / 100%, 50%,
    url("../../images/banner.jpg") no-repeat center center / cover;
  padding-top: 25%;
  position: relative;
}

.hero-content {
  color: var(--color-primary-light);
}

@media only screen and (min-width: 38em) {

  img {
    width: 40px;
    height: 40px;
  }

}

@media only screen and (min-width: 60em) {

  img {
    width: 48px;
    height: 48px;
  }

}

@media only screen and (min-width: 90em) {

  img {
    width: 56px;
    height: 56px;
  }

}
