:root {
  --color-primary: #2d2926;
  --color-primary-light: #fff;
  --color-secondary: #949494;
  --color-accent: #671e75;
  --color-neutral-beige: #ccc;
  --color-whatever: #60b5ed;

  --font-primary: "ff-tisa-sans-web-pro", sans-serif;
  --font-secondary: "ff-tisa-web-pro", serif;
}

h1, h2 {
  font-family: var(--font-primary);
}

p {
  font-family: var(--font-secondary);
}
